@import "mixins/mixin";
.logo{
    width: 65px;
    height: 65px;
}
iframe{
    @include width;
    padding: 10px;
    height: 350px;
}
.imagenChica{
    @include width;
    height: 100%;
}

.sobrenosotros{
    padding: 20px;
    text-align: center;
    background-color: rgba(62, 214, 164, 0.788);
    
}
